<!DOCTYPE html>
<html>
    <head>
        <title><%=title%></title>
    </head>
    <body>
        <h1> <%=heading%> </h1>
        <h2>States</h2>
        <ol> 
        <%
        states.map((state)=>{
%>
<li>
    <%=state%>

</li>
<%


        }
        )
        %></ol>
    </body>
</html>